<footer class="main-footer">
    <div class="container">

        <div class="footer-sections">

            <div class="copyright">
                <p>copyright 2020 by mohamed alsaid</p>
            </div>

        </div>
    </div>
</footer>
