    <div class="container">
        <nav class="main-nav">

    <div class="logo">
            spiders<span class="logo-w">W</span>
        </div>

        <ul>
            <a href=""><li>Home</li></a>
            <a href="/docs"><li>Docs</li></a>
            <a href="/about"><li>About</li></a>
        </ul>
        </nav>

    </div>

