<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css"/>
    <title>{{title}}</title>
</head>
<body>
{{>header}}
<div class="container">


    <p class="about-title">
       <span class="logo about-logo"> spiders<span class="logo-w">W</span></span>
        is created using mapbox and darksky web services api for getting weather state
        feel free  to join me in github to introduce new feature
    </p>

   <div class="about-link"> <a href="https://github.com/mohamed792/weather-serch">join</a></div>
</div>
{{>footer}}
</body>
</html>