<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css"/>
    <title>{{title}}</title>
</head>
<body>
{{>header}}
<div class="section-search">
    <div class="container">
        <div class="search-form-wraper">
            <form class="search-form">
                <input type="search" placeholder="address" required="true" name="address" autocomplete="autocomplete"  class="address"/>
                <input class="btnsubmit" type="submit" value="search" />
            </form>

        </div>
    </div>

</div>
<div class="result-section">
   <div class="container">

    <div class="mesg1"><img class="loading" src="/img/Spinner-1s-200px.gif"/></div>

    <div class="mesg2">
        <table class="mesg3">

        </table>
    </div>

    </div>

</div>

{{>footer}}

<script src="/js/home.js"></script>
</body>
</html>