<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css"/>
    <title>{{title}}</title>
</head>
<body>
{{>header}}
<h1></h1>
<div class="section-search">
    <div class="container">
        <div>
            <form class="form">
                <input type="search" placeholder="address" required="true" name="address"  id="address">
                <input class="btnsubmit" type="submit" value="search">
            </form>

            <p class="mesg1"></p>
            <div class="mesg2">

            </div>

        </div>
    </div>

</div>

<script src="/js/home.js"></script>
</body>
</html>