h1 {
    color: gray;
    text-align: center;
    padding-top: 40px;
}

input {
    background-color: white;
}


* {
    padding: 0px;
    margin: 0px;
}

.container {
    width: 90%;
    margin: auto;
}

.main-nav {
    width: 100%;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 0px 5px 0px gray;

}

.nav-items {

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 0px;


}

.logo {
    color: coral;
    font-size: x-large;
    display: inline-block;


}

.logo a {
    text-decoration: none;
    color: coral;


}

.logo .logo-w {
    font-size: xx-large;
    color: chocolate;
}

.main-nav ul a, .footer-sections .footer-nav ul a {
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    padding: 5px;
    color: gray;
    margin-left: 20px;
}

.main-nav ul a:hover {
    color: black;
    transition-duration: 0.5s;
}

.main-nav ul {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
}

.section-search .search-form-wraper {
    padding-top: 30px;
}

.section-search .search-form {

    display: flex;
    flex-flow: row;
    justify-content: center;

}

.section-search .search-form .btnsubmit {
    width: 20%;
    height: 50px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    background: #ff6300;
    -webkit-transition: 0.2s all;

}

.section-search .search-form .btnsubmit:hover {
    color: #ff6300;
    background: #211b19;}

.section-search .search-form .address {
    width: 50%;
    height: 49px;
    padding-left: 10px;
    border: 1px solid lightgray;
    border-right: 0px;
    font-size: 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.mesg1, .mesg3, .errmesg {
    text-align: center;
    color: darkgray;
    font-size: larger;
    display: none;
}

.errmesg {
    padding-top: 100px;
    color: red;
    font-size: xx-large;
}

.mesg2 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.mesg3 td {
    text-align: left;
    padding: 11px;

}

.mesg3 td {
    padding-left: 11px;
}

.main-footer {
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 0px;
    box-shadow: 0px 0px 5px 0px gray;
    position: fixed;
    bottom: 0px;

}

.footer-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-sections .copyright {
    text-align: center;
    padding: 40px;

}

.about-title {
    text-align: center;
    text-transform: capitalize;
    font-size: xx-large;
    color: dimgray;
    margin-top: 200px;
    transition: 0.1s all;

}
.about-link{
  text-align: center;
}
.about-link a{
    border-radius: 7px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 23px;
    background: #ff6300;
    font-size: x-large;
    width: 20%;
    -webkit-transition: 0.2s all;
    transition: 0.4s all;
}

.about-link a:hover{
    color: #ff6300;
    background: #211b19;
}
.about-logo{
    font-size: xx-large;
}
/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
}