h1{
    color: gray;
    text-align: center;
    padding-top: 40px;
}

*{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 90%;
    margin: auto;
}
.main-nav{
    width: 100%;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 0px 5px 0px gray;

}
.nav-items{

    display: flex;
    flex-flow: row ;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 0px;


}
.logo{
  color: coral;
    font-size: x-large;
    display: inline-block;


}
.logo .logo-w{
    font-size: xx-large;
    color: chocolate;
}
.main-nav ul a ,.footer-sections .footer-nav ul a{
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    padding: 5px;
    color:gray;
    margin-left: 20px;
}
.main-nav ul a:hover{
    color:black;
    transition-duration: 0.5s;
}
.main-nav ul{
    list-style: none;
    display: inline-flex;
    flex-direction: row;
}

.section-search .search-form-wraper{
    padding-top:30px;
}
.section-search .search-form {

    display: flex;
    flex-flow: row;
    justify-content: center;

}
.section-search .search-form .btnsubmit{
    width: 20%;
    height:50px ;
    background-color: lightgray;
    font-size: 25px;
    border: none;
    color: white;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.section-search .search-form .btnsubmit:hover{
    background-color: darkgray;
}
.section-search .search-form .address{
    width: 50%;
    height:49px;
    padding-left:10px ;
    border: 1px solid lightgray;
    border-right: 0px;
    font-size: 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}
.mesg1,.mesg3,.errmesg{
    text-align: center;
    color: darkgray;
    font-size: larger;
    display: none;
}
.errmesg{padding-top: 100px;color: red; font-size: xx-large;}
.mesg2{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.mesg3 td{
    text-align: left;
    padding: 11px;

}
.mesg3 td{
    padding-left: 11px;
}
.main-footer{
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 0px;
    box-shadow: 0px 0px 5px 0px gray;
    position: fixed;
    bottom: 0px;

}
.footer-sections{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-sections .copyright
{
    text-align: center;
    padding: 40px;

}